{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="media">
            <img src="/media/{{ product_object.image }}"
                 class="img-fluid mt-2 col-lg-offset-4" alt="Responsive image"
                 style="height: 300px">
            <div class="ml-1 container-fluid">
                <div class="align-content-lg-between text-center">
                    <h1 class="mt-3 ml-3">{{ product_object.name|title }}</h1>
                    <br>
                    <p>Категория: {{ product_object.subcategory.category|title }}</p>
                    <br>
                    <p>Подкатегория: {{ product_object.subcategory|title }}</p>
                    <br>
                    <p>Стоимость: {{ product_object.price }}</p>
                    <br>
                </div>
                <div class="float-right">
                    <button class="btn  btn-danger ">
                        <a style="color: white; text-decoration: none"
                           href="{% url 'basket:add' product_object.pk %}">Купить</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}