{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="media">
            <img src="/media/{{ subcategory_object.image }}"
                 class="img-fluid mt-2 col-lg-offset-4" alt="Responsive image"
                 style="height: 300px">
            <div class="ml-1 container-fluid">
                <div class="align-content-lg-between text-center">
                <h1 class="mt-3 ml-3">{{ subcategory_object.name|title }}</h1>
                <br>
                </div>
                <div class="mt-3">
                <p>{{ subcategory_object.description|title }}</p>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row centered">
            {% for product in products %}
                <div class="card  col-lg-4" style="width: 16rem;
                display: flex">
                    <img src="/media/{{ product.image }}"
                         class="card-img-top filters__img" alt="...">
                    <div class="card-body fa fa-align-justify">
                        <h5 class="card-title">{{ product.name|title }}</h5>
                        <a href="{% url 'store:product_detail' product.slug %}"
                           class="btn btn-danger">Выбрать</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}